<div id="price_box">
  <div class="summary-total-container">
    <p class="total-price"><span id="totals-monthly" class="amount">$113.57</span>/<span class="recurring-legend">mo.</span></p>
    <p class="total-fees">+ <span id="totals-setup" class="amount">$0.00</span>in one-time fees</p>
    <button class="btn btn-success pull-right" data-action="continueorder" data-actionbutton="1">
      <i class="icon-shopping-cart icon-white"></i>
      ADD TO ORDER
    </button>
    <div id="totals-quantity" class="hide">1</div>
    <div class="clearfix"></div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Summary</h3>
    </div>
    <div class="panel-body">
      $25.00 /mo.<br />
      + $0.00 in one-time fees
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Configuration</h3>
    </div>
    <div class="panel-body">
      <div class="summary-item" data-categorycode="datacenter">
        <div class="category-name pull-left">
          <a href="#category-datacenter-title">Data Center</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left full-width" id="summary-item-datacenter">WDC01</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$15.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$16.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$17.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$18.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$19.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$20.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$21.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$22.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$23.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$24.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$25.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$26.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$27.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$28.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$15.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$15.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$15.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$15.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$15.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
      <div class="summary-item" data-categorycode="guest-core">
        <div class="category-name pull-left">
          <a href="#category-guest_core-title">Computing Instance</a>
        </div>
        <div class="clearfix"></div>
        <dl>
          <dt class="item-name pull-left" id="summary-item-guest-core">1 x 2.0 GHz Core</dt>
          <dd data-recurringfee="" data-nonrecurringfee="" class="item-price pull-right">
            <span id="summary-amount-guest-core" class="populate recurring">$15.00</span>/mo.
          </dd>
        </dl>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
