<tr>
  <td><%= vm.fully_qualified_domain_name %></td>
  <td><%= vm.primary_ip_address %></td>
  <td><%= vm.primary_backend_ip_address %></td>
  <td><%= vm.provision_date.nil? ? '-' : vm.provision_date.to_date %></td>
  <td>
    <ul class="actions">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Reboot</a></li>
          <li><a href="#">Power On/Off</a></li>
          <li><a href="#">Rename Instance</a></li>
          <li><a href="#">View Audit Logs</a></li>
          <li><a href="#">Upgrade / Downgrade</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Cancel Device</a></li>
        </ul>
      </li>
    </ul>
  </td>
</tr>