Virtual Machines

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Public IP</th>
      <th>Private IP</th>
      <th>Start Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @virtual_machines.each do |vm| %>
    <%= render partial: 'vm', locals: { vm: vm } %>
  <% end %>
  </tbody>
</table>

<%= link_to "New Virtual Machine", new_virtual_machine_path, class: "btn btn-success", role: 'button', data: { loading_message: 'Loading Virtual Machine Options..' } %>
