<h1>New Virtual Machine</h1>

<div class="row">
  <div class="col-xs-8 col-md-8">
    <%= render 'form' %>
  </div>
  <div class="col-xs-4 col-md-4">
    <%= render 'price_box' %>
  </div>
</div>

<%= link_to 'Back', virtual_machines_path %>
