/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* margin for fixed navbar */
body {
  padding-top: 70px;
  padding-bottom: 100px;
}

ul.actions {
  list-style-type: none;
  padding-left: 0px;
}

.fixedElement {
    background-color: #c0c0c0;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.summary-total-container {
    padding: 10px;
    border: 1px solid #d1d3d4;
    border-radius: 5px;
    background-color: #f1f2f2;
    margin: 10px 0;
}

p.total-price {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 10px;
    height: 20px;
}

p.total-fees {
    font-size: 12px;
}

div.summary-item {
    padding: 5px 0;
    font-size: 12px;
    min-height: 20px;
    border-bottom: 1px solid #d1d3d4;
}
